body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}



.stopwatch {
  text-align: center;
}

img {
  width: 150px;
  margin-bottom: 20px;
}

#display {
  font-size: 2em;
  display: block;
  margin-bottom: 10px;
}

.controls {
  margin-top: 20px;
}

button {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

#lapTimes {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

#lapTimes li {
  margin-bottom: 5px;
}
